menu "Example Configuration"

    config RX_pin
        string "GPIO RX pin"
        default "4"
        help
            Enter pin to be used as RX


    config TX_pin
        string "GPIO TX pin"
        default "5"
        help
            Enter pin to be used as RX

    config baud
        string "Enter BAUDRATE to be used"
        default "115200"
        help
            Enter BaudRate

endmenu
